body {
  color: #333;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 20px;
}

a {
  border: 1px #000;
}

img {
  display: inline-block;
}

.navbar {
  width: 100%;
  height: 72px;
  background-color: #001e6a;
  border-width: 0 0 1px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 64px;
  padding-right: 64px;
  display: flex;
}

.navbar._2 {
  height: auto;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  background-color: #00103a;
  flex-direction: column;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: center;
  align-items: center;
  display: flex;
}

.container {
  width: 100%;
  grid-column-gap: 32px;
  grid-row-gap: 32px;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.content {
  width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.vectors-wrapper {
  width: 63px;
  height: 27px;
  object-fit: cover;
  justify-content: center;
  align-items: center;
  display: flex;
}

.column {
  grid-column-gap: 32px;
  grid-row-gap: 32px;
  object-fit: fill;
  border-radius: 2px;
  flex: none;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
  overflow: visible;
}

.heading-h3 {
  opacity: 1;
  color: #f18b00;
  object-fit: fill;
  font-size: 32px;
  font-weight: 700;
  line-height: 120%;
  text-decoration: none;
}

.nav-link-dropdown {
  grid-column-gap: 4px;
  grid-row-gap: 4px;
  flex: 0 auto;
  justify-content: center;
  align-items: center;
  display: flex;
}

.vectors-wrapper-2 {
  width: 24px;
  height: 24px;
  object-fit: cover;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  display: flex;
}

.header {
  width: 100%;
  max-width: 1440px;
  grid-column-gap: 80px;
  grid-row-gap: 80px;
  background-color: #001e6a;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 112px 64px;
  display: flex;
}

.content-2 {
  width: 100%;
  grid-column-gap: 80px;
  grid-row-gap: 80px;
  background-color: #001e6a;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.column-2 {
  width: 100%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.heading-h1 {
  color: #f18b00;
  object-fit: fill;
  flex-wrap: wrap;
  align-content: flex-end;
  justify-content: flex-start;
  align-items: flex-end;
  font-size: 56px;
  font-weight: 700;
  line-height: 120%;
  display: flex;
}

.column-3 {
  width: 100%;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.text-medium-normal {
  color: #f18b00;
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
}

.actions {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  flex: 0 auto;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 16px;
  display: flex;
}

.style-primary-small-false-dark-mode-false-icon-position-no-icon {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  background-color: #f18b00;
  border: 1px solid #f18b00;
  flex: 0 auto;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  display: flex;
}

.text-regular-normal {
  color: #001e6a;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  text-decoration: none;
}

.style-secondary-small-false-dark-mode-false-icon-position-no-icon {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  border: 1px solid #f18b00;
  flex: 0 auto;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  display: flex;
}

.text-regular-normal-2 {
  color: #f18b00;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  text-decoration: none;
}

.billeder-img {
  width: 100%;
  clear: none;
  object-fit: cover;
  position: relative;
  overflow: hidden;
}

.layout {
  width: 100%;
  grid-column-gap: 80px;
  grid-row-gap: 80px;
  background-color: #001e6a;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 112px 64px;
  display: flex;
}

.layout._240 {
  background-image: url('../billeder/Aktiv-3_1.svg');
  background-position: 50% 100%;
  background-size: cover;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.heading-h3-2 {
  color: #f18b00;
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  line-height: 120%;
}

.row {
  width: 100%;
  grid-column-gap: 48px;
  grid-row-gap: 48px;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  display: flex;
}

.column-4 {
  width: 100%;
  grid-column-gap: 32px;
  grid-row-gap: 32px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.content-3 {
  width: 100%;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  object-fit: fill;
  border-radius: 0;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
  box-shadow: 0 -1px 5px rgba(0, 0, 0, .2);
}

.content-4 {
  width: 100%;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.heading-h5 {
  color: #f18b00;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  line-height: 140%;
}

.text-regular-normal-3 {
  color: #f18b00;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}

.action {
  width: 100%;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 8px;
  display: flex;
}

.style-link-small-false-dark-mode-false-icon-position-trailing {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  flex: 0 auto;
  justify-content: center;
  align-items: center;
  display: flex;
}

.text-regular-normal-4 {
  color: #f18b00;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  text-decoration: none;
}

.vectors-wrapper-3 {
  width: 24px;
  height: 24px;
  object-fit: cover;
  justify-content: center;
  align-items: center;
  display: flex;
}

.cta {
  width: 100%;
  grid-column-gap: 80px;
  grid-row-gap: 80px;
  background-color: #001e6a;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 112px 64px;
  display: flex;
}

.cta._1 {
  height: 90vh;
  background-image: url('../billeder/Aktiv-6.svg');
  background-position: 50%;
  background-size: cover;
  background-attachment: fixed;
  justify-content: center;
}

.container-2 {
  width: 100%;
  grid-column-gap: 80px;
  grid-row-gap: 80px;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.column-5 {
  width: 100%;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.text-regular-normal-5 {
  color: #001e6a;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  text-decoration: none;
}

.text-regular-normal-6 {
  color: #f18b00;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  text-decoration: none;
}

.footer {
  width: 100%;
  grid-column-gap: 80px;
  grid-row-gap: 80px;
  background-color: #001e6a;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 80px 64px;
  display: flex;
}

.footer._5 {
  background-color: #00103a;
}

.container-3 {
  width: 100%;
  grid-column-gap: 80px;
  grid-row-gap: 80px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.newsletter {
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.newsletter.footer-newsletter {
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

.actions-2 {
  width: 100%;
  max-width: 400px;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.form {
  width: 100%;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.text-input {
  width: 100%;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  background-color: #001e6a;
  border: 1px solid #f18b00;
  justify-content: flex-start;
  align-items: center;
  padding: 12px;
  display: flex;
}

.text-regular-normal-7 {
  color: #505050;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}

.style-secondary-small-false-dark-mode-false-icon-position-no-icon-2 {
  width: 119px;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  border: 1px solid #f18b00;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  display: flex;
}

.container-4 {
  width: 100%;
  grid-column-gap: 4px;
  grid-row-gap: 4px;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.text-tiny-normal {
  color: #f18b00;
  font-size: 12px;
  font-weight: 400;
  line-height: 150%;
}

.text-tiny-link {
  color: #f18b00;
  font-size: 12px;
  font-weight: 400;
  line-height: 150%;
  text-decoration: underline;
}

.links {
  width: 100%;
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: -80px;
  display: flex;
}

.column-6 {
  width: 100%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.column-7 {
  width: 100%;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.text-regular-semi-bold {
  color: #f18b00;
  font-size: 16px;
  font-weight: 600;
  line-height: 150%;
}

.link {
  width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 8px;
  padding-bottom: 8px;
  display: flex;
}

.text-small-normal {
  color: #f18b00;
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
}

.credits {
  width: 100%;
  grid-column-gap: 32px;
  grid-row-gap: 32px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.vectors-wrapper-4 {
  height: 100px;
  object-fit: cover;
  flex: 0 auto;
  justify-content: center;
  align-items: center;
  display: flex;
}

.credits-2 {
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  flex: 0 auto;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.footer-links {
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  flex: 0 auto;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.text-small-link {
  color: #f18b00;
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
  text-decoration: underline;
}

.social-links {
  grid-column-gap: 12px;
  grid-row-gap: 12px;
  flex: 0 auto;
  justify-content: flex-start;
  align-items: baseline;
  display: flex;
}

.vectors-wrapper-5 {
  width: 24px;
  height: 24px;
  object-fit: cover;
  justify-content: center;
  align-items: center;
  display: flex;
}

.content-5 {
  width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.column-8 {
  grid-column-gap: 32px;
  grid-row-gap: 32px;
  flex: 0 auto;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.heading-h3---mobile {
  color: #f18b00;
  font-size: 32px;
  font-weight: 700;
  line-height: 120%;
}

.vectors-wrapper-6 {
  width: 24px;
  height: 24px;
  object-fit: cover;
  justify-content: center;
  align-items: center;
  display: flex;
}

.blog-post-header {
  width: 100%;
  grid-column-gap: 80px;
  grid-row-gap: 80px;
  background-color: #001e6a;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 112px 64px;
  display: flex;
}

.blog-post-header._2 {
  background-image: url('../billeder/Aktiv-6.svg');
  background-position: 0 0;
  background-size: auto;
}

.content-6 {
  width: 100%;
  grid-column-gap: 80px;
  grid-row-gap: 80px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.content-7 {
  width: 100%;
  grid-column-gap: 48px;
  grid-row-gap: 48px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.content-8 {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  flex: 0 auto;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.vectors-wrapper-7 {
  width: 16px;
  height: 16px;
  object-fit: cover;
  justify-content: center;
  align-items: center;
  display: flex;
}

.text-regular-normal-8 {
  color: #f18b00;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}

.content-9 {
  width: 100%;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.content-10 {
  width: 181px;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.tag {
  background-color: #3f3f3f;
  flex: 0 auto;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 4px 8px;
  display: flex;
}

.text-small-semi-bold {
  color: #f18b00;
  font-size: 14px;
  font-weight: 600;
  line-height: 150%;
}

.text-tiny-light {
  color: #f18b00;
  font-size: 12px;
  font-weight: 300;
  line-height: 150%;
}

.heading-h2 {
  color: #f18b00;
  font-size: 48px;
  font-weight: 700;
  line-height: 120%;
}

.content-11 {
  width: 100%;
  grid-column-gap: 32px;
  grid-row-gap: 32px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.content-12 {
  width: 100%;
  justify-content: space-between;
  align-items: flex-start;
  display: flex;
}

.content-13 {
  grid-column-gap: 48px;
  grid-row-gap: 48px;
  flex: 0 auto;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.column-9 {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.text-regular-normal-9 {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}

.text-regular-medium {
  color: #f18b00;
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
}

.share-buttons {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  flex: 0 auto;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.share-button {
  background-color: #3f3f3f;
  border-radius: 64px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4px;
  display: flex;
}

.vectors-wrapper-8 {
  width: 24px;
  height: 24px;
  object-fit: cover;
  justify-content: center;
  align-items: center;
  display: flex;
}

.content-14 {
  width: 100%;
  grid-column-gap: 80px;
  grid-row-gap: 80px;
  background-color: #001e6a;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 112px 64px;
  display: flex;
}

.content-15 {
  width: 100%;
  justify-content: space-between;
  align-items: flex-start;
  display: flex;
}

.column-10 {
  width: 100%;
  max-width: 320px;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.heading-h5-2 {
  color: #f18b00;
  font-size: 24px;
  font-weight: 700;
  line-height: 140%;
}

.content-16 {
  width: 100%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.button {
  width: 100%;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  background-color: #3f3f3f;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 12px 16px;
  text-decoration: none;
  display: flex;
}

.text-medium-bold {
  color: #f18b00;
  font-size: 18px;
  font-weight: 700;
  line-height: 150%;
}

.button-2 {
  width: 100%;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 12px 32px;
  text-decoration: none;
  display: flex;
}

.button-3 {
  width: 100%;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 12px 48px;
  text-decoration: none;
  display: flex;
}

.rich-text {
  width: 100%;
  max-width: 768px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.content-17 {
  width: 100%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-bottom: 16px;
  display: flex;
}

.text-regular-bold {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}

.content-18 {
  width: 100%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 24px;
  padding-bottom: 24px;
  display: flex;
}

.content-19 {
  width: 100%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 24px;
  padding-bottom: 20px;
  display: flex;
}

.heading-h4 {
  color: #f18b00;
  font-size: 32px;
  font-weight: 700;
  line-height: 130%;
}

.content-20 {
  width: 100%;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 48px;
  padding-bottom: 48px;
  display: flex;
}

.caption-figure {
  width: 100%;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.vectors-wrapper-9 {
  width: 2px;
  height: 100px;
  object-fit: cover;
  justify-content: center;
  align-items: center;
  display: flex;
}

.content-21 {
  width: 100%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 20px;
  padding-bottom: 16px;
  display: flex;
}

.content-22 {
  width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 36px;
  padding-bottom: 36px;
  display: flex;
}

.figure {
  width: 100%;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  background-color: rgba(255, 255, 255, 0);
  justify-content: flex-start;
  align-items: flex-start;
  padding-right: 20px;
  display: flex;
}

.quote {
  color: #f18b00;
  font-size: 20px;
  font-style: italic;
  font-weight: 400;
  line-height: 28px;
}

.heading-h6 {
  color: #f18b00;
  font-size: 32px;
  font-weight: 700;
  line-height: 140%;
}

.blog {
  width: 100%;
  grid-column-gap: 80px;
  grid-row-gap: 80px;
  background-color: #001e6a;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 112px 64px;
  display: flex;
}

.blog._9 {
  padding-bottom: 0;
}

.section-title {
  width: 100%;
  max-width: 768px;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.content-23 {
  width: 100%;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.blog-hero {
  width: 100%;
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.heading-h5-3 {
  color: #f18b00;
  font-size: 24px;
  font-weight: 700;
  line-height: 140%;
}

.content-24 {
  width: 100%;
  grid-column-gap: 32px;
  grid-row-gap: 32px;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: -157px;
  display: flex;
}

.card {
  width: 100%;
  height: 814px;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.content-25 {
  width: 100%;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.avatar {
  width: 100%;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.content-26 {
  width: 100%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.time {
  width: 100%;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.blogs {
  width: 100%;
  grid-column-gap: 32px;
  grid-row-gap: 32px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.card-2 {
  width: 100%;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.content-27 {
  width: 100%;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.content-28 {
  grid-column-gap: 64px;
  grid-row-gap: 64px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.row-2 {
  width: 100%;
  max-width: 1312px;
  grid-column-gap: 32px;
  grid-row-gap: 32px;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.container-5 {
  width: 100%;
  grid-column-gap: 80px;
  grid-row-gap: 80px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.content-29 {
  width: 100%;
  max-width: 500px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.text-medium-semi-bold {
  color: #f18b00;
  font-size: 18px;
  font-weight: 600;
  line-height: 150%;
}

.text-regular-normal-10 {
  color: #505050;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}

.text-regular-normal-11 {
  color: #f18b00;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  text-decoration: none;
}

.container-6 {
  width: 100%;
  grid-column-gap: 4px;
  grid-row-gap: 4px;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.column-11 {
  width: 100%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.vectors-wrapper-10 {
  width: 63px;
  height: 27px;
  object-fit: cover;
  justify-content: center;
  align-items: center;
  display: flex;
}

.column-12 {
  width: 100%;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.vectors-wrapper-11 {
  height: 100px;
  object-fit: cover;
  flex: 0 auto;
  justify-content: center;
  align-items: center;
  display: flex;
}

.credits-3 {
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  flex: 0 auto;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.vectors-wrapper-12 {
  width: 24px;
  height: 24px;
  object-fit: cover;
  justify-content: center;
  align-items: center;
  display: flex;
}

.content-30 {
  width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.vectors-wrapper-13 {
  width: 63px;
  height: 27px;
  object-fit: cover;
  justify-content: center;
  align-items: center;
  display: flex;
}

.column-13 {
  grid-column-gap: 32px;
  grid-row-gap: 32px;
  flex: 0 auto;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.vectors-wrapper-14 {
  width: 24px;
  height: 24px;
  object-fit: cover;
  justify-content: center;
  align-items: center;
  display: flex;
}

.content-31 {
  width: 100%;
  grid-column-gap: 80px;
  grid-row-gap: 80px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.content-32 {
  width: 100%;
  grid-column-gap: 48px;
  grid-row-gap: 48px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.content-33 {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  flex: 0 auto;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.vectors-wrapper-15 {
  width: 16px;
  height: 16px;
  object-fit: cover;
  justify-content: center;
  align-items: center;
  display: flex;
}

.content-34 {
  width: 100%;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.content-35 {
  width: 181px;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.content-36 {
  width: 100%;
  grid-column-gap: 32px;
  grid-row-gap: 32px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.content-37 {
  width: 100%;
  justify-content: space-between;
  align-items: flex-start;
  display: flex;
}

.content-38 {
  grid-column-gap: 48px;
  grid-row-gap: 48px;
  flex: 0 auto;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.vectors-wrapper-16 {
  width: 24px;
  height: 24px;
  object-fit: cover;
  justify-content: center;
  align-items: center;
  display: flex;
}

.content-39 {
  width: 100%;
  grid-column-gap: 80px;
  grid-row-gap: 80px;
  background-color: #001e6a;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 112px 64px;
  display: flex;
}

.content-40 {
  width: 100%;
  justify-content: space-between;
  align-items: flex-start;
  display: flex;
}

.column-14 {
  width: 100%;
  max-width: 320px;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.heading-h5-4 {
  color: #f18b00;
  font-size: 32px;
  font-weight: 700;
  line-height: 140%;
}

.content-41 {
  width: 100%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.button-4 {
  width: 100%;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 12px 32px;
  text-decoration: none;
  display: flex;
}

.button-5 {
  width: 100%;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 12px 48px;
  text-decoration: none;
  display: flex;
}

.button-6 {
  width: 100%;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 12px 64px;
  text-decoration: none;
  display: flex;
}

.button-7 {
  width: 100%;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 12px 80px;
  text-decoration: none;
  display: flex;
}

.content-42 {
  width: 100%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-bottom: 16px;
  display: flex;
}

.content-43 {
  width: 100%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 24px;
  padding-bottom: 20px;
  display: flex;
}

.content-44 {
  width: 100%;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 48px;
  padding-bottom: 48px;
  display: flex;
}

.content-45 {
  width: 100%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 20px;
  padding-bottom: 16px;
  display: flex;
}

.content-46 {
  width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 36px;
  padding-bottom: 36px;
  display: flex;
}

.content-47 {
  width: 100%;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.heading-h5-5 {
  color: #f18b00;
  font-size: 24px;
  font-weight: 700;
  line-height: 140%;
}

.content-48 {
  width: 100%;
  grid-column-gap: 32px;
  grid-row-gap: 32px;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.content-49 {
  width: 100%;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.content-50 {
  width: 100%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.card-3 {
  width: 100%;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.content-51 {
  width: 100%;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.content-52 {
  grid-column-gap: 64px;
  grid-row-gap: 64px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.container-7 {
  width: 100%;
  grid-column-gap: 80px;
  grid-row-gap: 80px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.content-53 {
  width: 100%;
  max-width: 500px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.text-regular-normal-12 {
  color: #505050;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}

.text-regular-normal-13 {
  color: #f18b00;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  text-decoration: none;
}

.container-8 {
  width: 100%;
  grid-column-gap: 4px;
  grid-row-gap: 4px;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.column-15 {
  width: 100%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.vectors-wrapper-17 {
  width: 63px;
  height: 27px;
  object-fit: cover;
  justify-content: center;
  align-items: center;
  display: flex;
}

.column-16 {
  width: 100%;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.vectors-wrapper-18 {
  height: 100px;
  object-fit: cover;
  flex: 0 auto;
  justify-content: center;
  align-items: center;
  display: flex;
}

.credits-4 {
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  flex: 0 auto;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.vectors-wrapper-19 {
  width: 24px;
  height: 24px;
  object-fit: cover;
  justify-content: center;
  align-items: center;
  display: flex;
}

.container-9 {
  width: 100%;
  grid-column-gap: 32px;
  grid-row-gap: 32px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.content-54 {
  width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.column-17 {
  grid-column-gap: 32px;
  grid-row-gap: 32px;
  flex: 0 auto;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.vectors-wrapper-20 {
  width: 24px;
  height: 24px;
  object-fit: cover;
  justify-content: center;
  align-items: center;
  display: flex;
}

.content-55 {
  width: 100%;
  grid-column-gap: 80px;
  grid-row-gap: 80px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.content-56 {
  width: 100%;
  grid-column-gap: 48px;
  grid-row-gap: 48px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.content-57 {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  flex: 0 auto;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.vectors-wrapper-21 {
  width: 16px;
  height: 16px;
  object-fit: cover;
  justify-content: center;
  align-items: center;
  display: flex;
}

.text-regular-normal-14 {
  color: #f18b00;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}

.content-58 {
  width: 100%;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.content-59 {
  width: 181px;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.content-60 {
  width: 100%;
  grid-column-gap: 32px;
  grid-row-gap: 32px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.content-61 {
  width: 100%;
  justify-content: space-between;
  align-items: flex-start;
  display: flex;
}

.content-62 {
  grid-column-gap: 48px;
  grid-row-gap: 48px;
  flex: 0 auto;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.text-regular-normal-15 {
  color: #f18b00;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}

.vectors-wrapper-22 {
  width: 24px;
  height: 24px;
  object-fit: cover;
  justify-content: center;
  align-items: center;
  display: flex;
}

.content-63 {
  width: 100%;
  grid-column-gap: 80px;
  grid-row-gap: 80px;
  background-color: #001e6a;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 112px 64px;
  display: flex;
}

.content-64 {
  width: 100%;
  justify-content: space-between;
  align-items: flex-start;
  display: flex;
}

.column-18 {
  width: 100%;
  max-width: 320px;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.content-65 {
  width: 100%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.button-8 {
  width: 100%;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  background-color: #3f3f3f;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 12px 16px;
  text-decoration: none;
  display: flex;
}

.content-66 {
  width: 100%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-bottom: 16px;
  display: flex;
}

.text-regular-normal-16 {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}

.content-67 {
  width: 100%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 24px;
  padding-bottom: 20px;
  display: flex;
}

.content-68 {
  width: 100%;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 48px;
  padding-bottom: 48px;
  display: flex;
}

.vectors-wrapper-23 {
  width: 2px;
  height: 100px;
  object-fit: cover;
  justify-content: center;
  align-items: center;
  display: flex;
}

.content-69 {
  width: 100%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 20px;
  padding-bottom: 16px;
  display: flex;
}

.content-70 {
  width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 36px;
  padding-bottom: 36px;
  display: flex;
}

.blog-2 {
  width: 100%;
  grid-column-gap: 80px;
  grid-row-gap: 80px;
  background-color: #001e6a;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 112px 64px;
  display: flex;
}

.section-title-2 {
  width: 100%;
  max-width: 768px;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.content-71 {
  width: 100%;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.heading-h1-2 {
  color: #f18b00;
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 120%;
}

.content-72 {
  width: 100%;
  grid-column-gap: 64px;
  grid-row-gap: 64px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.card-4 {
  width: 100%;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.content-73 {
  width: 100%;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.text-regular-normal-17 {
  color: #f18b00;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}

.content-74 {
  width: 100%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.container-10 {
  width: 100%;
  grid-column-gap: 80px;
  grid-row-gap: 80px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.content-75 {
  width: 100%;
  max-width: 500px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.text-regular-normal-18 {
  color: #f18b00;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}

.text-regular-normal-19 {
  color: #f18b00;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  text-decoration: none;
}

.column-19 {
  width: 100%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.vectors-wrapper-24 {
  width: 63px;
  height: 27px;
  object-fit: cover;
  justify-content: center;
  align-items: center;
  display: flex;
}

.column-20 {
  width: 100%;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.credits-5 {
  width: 100%;
  grid-column-gap: 32px;
  grid-row-gap: 32px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.vectors-wrapper-25 {
  height: 100px;
  object-fit: cover;
  flex: 0 auto;
  justify-content: center;
  align-items: center;
  display: flex;
}

.vectors-wrapper-26 {
  width: 24px;
  height: 24px;
  object-fit: cover;
  justify-content: center;
  align-items: center;
  display: flex;
}

.container-11 {
  width: 100%;
  grid-column-gap: 32px;
  grid-row-gap: 32px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.content-76 {
  width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.vectors-wrapper-27 {
  width: 63px;
  height: 27px;
  object-fit: cover;
  justify-content: center;
  align-items: center;
  display: flex;
}

.column-21 {
  grid-column-gap: 32px;
  grid-row-gap: 32px;
  flex: 0 auto;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.vectors-wrapper-28 {
  width: 24px;
  height: 24px;
  object-fit: cover;
  justify-content: center;
  align-items: center;
  display: flex;
}

.product {
  width: 100%;
  grid-column-gap: 80px;
  grid-row-gap: 80px;
  background-color: #001e6a;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 112px 64px;
  display: flex;
}

.product._2 {
  background-image: url('../billeder/Aktiv-6.svg');
  background-position: 0 0;
  background-size: auto;
}

.title {
  width: 100%;
  justify-content: space-between;
  align-items: flex-end;
  display: flex;
}

.section-title-3 {
  width: 100%;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.content-77 {
  width: 100%;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.content-78 {
  width: 100%;
  max-width: 1312px;
  grid-column-gap: 64px;
  grid-row-gap: 64px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.content-79 {
  width: 100%;
  grid-column-gap: 32px;
  grid-row-gap: 32px;
  justify-content: center;
  align-items: flex-start;
  display: flex;
}

.product-2 {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.content-80 {
  width: 100%;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.header-2 {
  width: 100%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.text-large-semi-bold {
  color: #f18b00;
  text-align: left;
  object-fit: fill;
  font-size: 20px;
  font-weight: 600;
  line-height: 150%;
  position: fixed;
}

.style-secondary-small-true-dark-mode-false-icon-position-no-icon {
  width: 100%;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  border: 1px solid #f18b00;
  justify-content: center;
  align-items: center;
  padding: 8px 20px;
  display: flex;
}

.text-regular-normal-20 {
  color: #f18b00;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  text-decoration: none;
}

.testimonial {
  width: 100%;
  grid-column-gap: 80px;
  grid-row-gap: 80px;
  background-color: #001e6a;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 112px 64px;
  display: flex;
}

.section-title-4 {
  width: 100%;
  max-width: 560px;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.content-81 {
  width: 100%;
  max-width: 1280px;
  grid-column-gap: 64px;
  grid-row-gap: 64px;
  justify-content: center;
  align-items: flex-start;
  display: flex;
}

.column-22 {
  width: 100%;
  grid-column-gap: 32px;
  grid-row-gap: 32px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.stars {
  grid-column-gap: 4px;
  grid-row-gap: 4px;
  flex: 0 auto;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.vectors-wrapper-29 {
  width: 20px;
  height: 18.8889px;
  object-fit: cover;
  justify-content: center;
  align-items: center;
  display: flex;
}

.avatar-2 {
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  flex: 0 auto;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.avatar-image {
  object-fit: cover;
}

.avatar-content {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.text-regular-normal-21 {
  color: #f18b00;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}

.vectors-wrapper-30 {
  width: .00000266639px;
  height: 61px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.vectors-wrapper-31 {
  width: 120px;
  height: 48px;
  object-fit: cover;
  justify-content: center;
  align-items: center;
  display: flex;
}

.container-12 {
  width: 100%;
  grid-column-gap: 80px;
  grid-row-gap: 80px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.content-82 {
  width: 100%;
  max-width: 500px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.text-regular-normal-22 {
  color: #f18b00;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}

.text-regular-normal-23 {
  color: #f18b00;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  text-decoration: none;
}

.column-23 {
  width: 100%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.vectors-wrapper-32 {
  width: 63px;
  height: 27px;
  object-fit: cover;
  justify-content: center;
  align-items: center;
  display: flex;
}

.column-24 {
  width: 100%;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.credits-6 {
  width: 100%;
  grid-column-gap: 32px;
  grid-row-gap: 32px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.vectors-wrapper-33 {
  height: 100px;
  object-fit: cover;
  flex: 0 auto;
  justify-content: center;
  align-items: center;
  display: flex;
}

.vectors-wrapper-34 {
  width: 24px;
  height: 24px;
  object-fit: cover;
  justify-content: center;
  align-items: center;
  display: flex;
}

.container-13 {
  width: 100%;
  grid-column-gap: 32px;
  grid-row-gap: 32px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.content-83 {
  width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.vectors-wrapper-35 {
  width: 63px;
  height: 27px;
  object-fit: cover;
  justify-content: center;
  align-items: center;
  display: flex;
}

.column-25 {
  grid-column-gap: 32px;
  grid-row-gap: 32px;
  flex: 0 auto;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.vectors-wrapper-36 {
  width: 24px;
  height: 24px;
  object-fit: cover;
  justify-content: center;
  align-items: center;
  display: flex;
}

.contact {
  width: 100%;
  grid-column-gap: 80px;
  grid-row-gap: 80px;
  background-color: #001e6a;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 112px 64px;
  display: flex;
}

.contact._1 {
  background-image: url('../billeder/Aktiv-6.svg');
  background-position: 0 0;
  background-size: auto;
}

.section-title-5 {
  width: 100%;
  max-width: 768px;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.text-regular-semi-bold-2 {
  color: #f18b00;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  line-height: 150%;
}

.content-84 {
  width: 100%;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.heading-h2-2 {
  color: #f18b00;
  text-align: center;
  font-size: 48px;
  font-weight: 700;
  line-height: 120%;
}

.text-medium-normal-2 {
  color: #f18b00;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
}

.form-2 {
  width: 100%;
  max-width: 560px;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.input {
  width: 100%;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.text-regular-normal-24 {
  color: #f18b00;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}

.text-area {
  width: 100%;
  height: 180px;
  background-color: #001e6a;
  border: 1px solid #f18b00;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 12px;
  display: flex;
  position: relative;
}

.vectors-wrapper-37 {
  width: 2px;
  height: 2px;
  object-fit: cover;
  justify-content: center;
  align-items: center;
  display: flex;
  position: absolute;
  top: 37.6497px;
  left: 280.814px;
}

.vectors-wrapper-38 {
  width: 6px;
  height: 6px;
  object-fit: cover;
  justify-content: center;
  align-items: center;
  display: flex;
  position: absolute;
  top: 39.0639px;
  left: 292.127px;
}

.selected-false {
  width: 146px;
  height: 37px;
  grid-column-gap: 12px;
  grid-row-gap: 12px;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 16px;
  display: flex;
}

.vectors-wrapper-39 {
  width: 18px;
  height: 18px;
  object-fit: cover;
  justify-content: center;
  align-items: center;
  display: flex;
}

.style-primary-small-false-dark-mode-false-icon-position-no-icon-2 {
  width: 99px;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  background-color: #f18b00;
  border: 1px solid #f18b00;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  display: flex;
}

.text-regular-normal-25 {
  color: #001e6a;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  text-decoration: none;
}

.contact-2 {
  width: 100%;
  max-width: 1440px;
  grid-column-gap: 80px;
  grid-row-gap: 80px;
  background-color: #001e6a;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 112px 64px;
  display: flex;
}

.section-title-6 {
  width: 100%;
  max-width: 768px;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.content-85 {
  width: 100%;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.heading-h2-3 {
  color: #f18b00;
  font-size: 48px;
  font-weight: 700;
  line-height: 120%;
}

.text-medium-normal-3 {
  color: #f18b00;
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
}

.content-86 {
  width: 100%;
  grid-column-gap: 80px;
  grid-row-gap: 80px;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.tabs-menu {
  width: 100%;
  max-width: 500px;
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.tab-horizontal {
  width: 100%;
  grid-column-gap: 32px;
  grid-row-gap: 32px;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.vectors-wrapper-40 {
  width: .00000533279px;
  height: 100px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.content-87 {
  width: 100%;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.content-88 {
  width: 100%;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.text-regular-normal-26 {
  color: #f18b00;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}

.text-regular-semi-bold-3 {
  color: #f18b00;
  font-size: 16px;
  font-weight: 600;
  line-height: 150%;
}

.vectors-wrapper-41 {
  width: .00000638186px;
  height: 100px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.container-14 {
  width: 100%;
  grid-column-gap: 80px;
  grid-row-gap: 80px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.content-89 {
  width: 100%;
  max-width: 500px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.text-regular-normal-27 {
  color: #f18b00;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}

.form-3 {
  width: 100%;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.text-regular-normal-28 {
  color: #f18b00;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  text-decoration: none;
}

.column-26 {
  width: 100%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.vectors-wrapper-42 {
  width: 63px;
  height: 27px;
  object-fit: cover;
  justify-content: center;
  align-items: center;
  display: flex;
}

.column-27 {
  width: 100%;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.text-regular-semi-bold-4 {
  color: #f18b00;
  font-size: 16px;
  font-weight: 600;
  line-height: 150%;
}

.credits-7 {
  width: 100%;
  grid-column-gap: 32px;
  grid-row-gap: 32px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.vectors-wrapper-43 {
  height: 100px;
  object-fit: cover;
  flex: 0 auto;
  justify-content: center;
  align-items: center;
  display: flex;
}

.credits-8 {
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  flex: 0 auto;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.vectors-wrapper-44 {
  width: 24px;
  height: 24px;
  object-fit: cover;
  justify-content: center;
  align-items: center;
  display: flex;
}

.link-block {
  border: 1px #000;
  text-decoration: none;
}

.link-block-2, .link-block-3 {
  text-decoration: none;
}

.image {
  width: 100px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.content-90 {
  width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.column-28 {
  grid-column-gap: 32px;
  grid-row-gap: 32px;
  object-fit: fill;
  border-radius: 2px;
  flex: none;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
  overflow: visible;
}

.container-15 {
  width: 100%;
  grid-column-gap: 32px;
  grid-row-gap: 32px;
  object-fit: fill;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.link-block-4, .link-block-5 {
  text-decoration: none;
}

.vectors-wrapper-45 {
  width: 24px;
  height: 24px;
  object-fit: cover;
  justify-content: center;
  align-items: center;
  display: flex;
}

.image-2 {
  margin-top: 71px;
  margin-left: -130px;
  margin-right: -130px;
  padding-left: 43px;
  padding-right: 0;
}
